//Local variables
$button-height: 40px;

$max-logo-width: 50%;

$input-bottom-border: 2px solid $main-inactivity-color;
$input-bottom-border-focused: 2px solid $main-theme-color;

$radio-title-color: #555;

.setup-box {
  //Center container
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;

  background-color: $container-color;
  padding: 10px;
}

.setup-form-logo {
  max-width: $max-logo-width;
  display: block;
  @include autoLateralMargins();
}

.setup-form__topic-input {
  background-color: transparent;
  border: none;
  border-bottom: $input-bottom-border;
}

.setup-form__topic-input:focus {
  border-bottom: $input-bottom-border-focused;
}

.setup-form__radio-title {
  font-size: $s-size;
  text-transform: uppercase;
  color: $radio-title-color;
  margin-right: 10px;
}

.setup-form__radio-group {
  margin-top: 10px;
}



.setup-form__radio-button {
  // Remove bullets from radio buttons
  display: none;
}

.setup-form {
  text-align: center;
}

//For all the labels
.setup-form__radio-option-box {
  display: inline-block;
  width: 50px;
  height: $button-height;
  border-left: 2px solid $button-border-color;
}

.setup-form__radio-option-box:last-child{
  border-right: 2px solid $button-border-color;
}

.setup-form__radio-button
  + .setup-form__radio-button-label {
  cursor: pointer;
  display: block; //Fit to button size
  width: 50px;
  height: $button-height;
  line-height: $button-height;
  text-align: center;
  vertical-align: center;
}

//For checked labels
.setup-form__radio-button:checked
  + .setup-form__radio-button-label {
  color: red;
}

.setup-form__submit {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 70px;
  border: none;
  background-color: $main-theme-color;
}
