$global-font-color: #111;

html{
  font-size: 62.5%;
  @include noHighlight;
}
body {

  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;

  color: $global-font-color;

  /* Background pattern from Toptal Subtle Patterns */
  background: url('/images/qbkls.png');
}

button {
  cursor: pointer;
  outline: none;
}

input{
  outline: none;
}

button:disabled {
  cursor: default;
}
