@import './lateral-containers';
@import './center-container';


$control-button-font-size: 5rem;
$control-button-color: scale-color($main-inactivity-color, $alpha: -20%);
$control-button-hover-color: $main-dark-color;


.main-container {
  width: 70%;
  margin-top: 100px;
  @include autoLateralMargins();

  //Grid parent properties
  display: grid;
  grid-template-columns: $lateral-containers-width auto $lateral-containers-width;
  grid-column-gap: 10px;
}

.control-buttons-container{
  position: fixed;
  bottom: 0;
  left: 0;
}

.control-buttons-container__control-button {
  border: none;
  background-color: transparent;
  font-size: $control-button-font-size;
  color: $control-button-color;
}

.control-buttons-container__control-button:hover {
  color: $control-button-hover-color;
}

.audio-file{
  visibility: hidden;
}
