@import './lateral-containers';


$horizontal-line-color: $main-inactivity-color;

$max-logo-width: 70%;

$timer-font-size: 150px;



.main-container {
  width: 70%;
  margin-top: 100px;
  @include autoLateralMargins();

  //Grid parent properties
  display: grid;
  grid-template-columns: $lateral-containers-width auto $lateral-containers-width;
  grid-column-gap: 10px;
}



.center-pane {
  //Grid properties
  grid-column-start: 2;
  grid-column-end: 2;

  background-color: $counter-background-container-color;

  //Flexbox for element child, that should be algined vertically
  display: flex;
  flex-direction: column;
  justify-content: center;
}





.center-pane-content{
  padding: 10px;
  text-align: center;
}

.center-pane__logo {
  max-width: $max-logo-width;

}

.center-pane-header__text {
  margin: 0; //Reset collapsed margins
  margin-bottom: 10px;
}

.center-pane-header--topic {
  text-transform: capitalize;
  font-weight: 400;
}

.center-pane-header--state {
  text-transform: uppercase;
}



.timer-container__header {
  text-transform: capitalize;
}

.timer-container__timer-box {
  font-size: $timer-font-size;
}

.timer-container__timer-box:nth-letter(6) {
  font-size: 0.5em;
  color: red;
}

.center-pane__line {
  margin: 10px;
  height: 2px;
  border: 0;
  background-color: $horizontal-line-color;
}
